@font-face{
    font-family: proxima-nova-light;
    src:url(fuentes/Proxima Nova Alt Light.otf);
}
@font-face{
    font-family: proxima-nova-Regular;
    src:url(fuentes/Proxima Nova Alt Regular.otf);
}